@charset "UTF-8";

#joinbox{
	width: 800px;
	height: 500px;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
	border: 2px;
	
}

#ta{
	text-align: left;
	width : 50px;
}
label{
	display: inline-block;
	width: 150px;
	text-align: right;
}
input, select{
	width: 200px;
}
#joinBtn{
	
	width: 80px;
    padding: 10px 0 10px;
    border: 0;
    color: black;
    background-color: #76cdff;
    font-size: 20px;
    font-weight: 400;
}

table{
	 margin: 0px auto;
	 border-spacing: 0 10px;
	 border: 1px solid black;
	 border-radius: 15px;
}

#postcodeBtn{
	width: 100px;
}
