@charset "UTF-8";
body{
	margin-top: 100px;
	font-family: 'Trebuchet MS', serif;
	line-height: 1.6
}
.container{
	width: 100%;
	margin: 0 auto;
	
}



ul.tabs{
	margin:10px 5px;
	padding: 0px;
	list-style: none;
	
	
}

.tab-link{
  color: rgba(30, 22, 54, 0.6);
  box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 2px inset;
	
}

.tab-link:hover{
	 color: rgba(255, 255, 255, 0.85);
	 box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0px 2px inset;
	
}

ul.tabs li{
	background: none;
	color: black;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
	position: relative;
}

ul.tabs li.current{
	background: #e9ccb4;
	color: black;
}

.tab-content{
	display: none;
	padding: 15px;
	height: 100%;
}

.tab-content.current{
	display: inherit;
}